{% extends 'base.html.twig' %}

{% block title %}Liste de livres{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Liste de livres</h1>
    <ul class="list-group list-group-flush"> 
        {% for book in books %}
            <div class="card text-white mb-1" style="background-color: #1b1e1f">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <li class="list-group-item text-white" style="background-color: #1b1e1f">
                            <a href="{{ path('app_admin_book_show', {id: book.id}) }}" class="stretched-link">
                                <h4 class="mb-1">{{ book.title }}</h4>
                            </a>
                            <small class="text-muted">Identifiant : {{ book.id }}</small>
                        </li>
                    </div>
                </div>
            </div>
        {% else %}
            <li class="list-group-item text-white" style="background-color: #1b1e1f">Aucun enregistrement en base de donnéees.</li>
        {% endfor %}
    </ul>
    {{ pagerfanta(books) }}
</section>
{% endblock %}
